.column-title {
    color: blue;
    font-family: sans-serif;
}
.left-column em {
    font: 10px;
}
.left-column {
    width: 50%;
    margin-left: 2rem;
    margin-top: 0rem;
}
.right-column {
    width: 50%;
    margin-bottom: 1rem;
}
.left-column sub {
    font-style: italic;
}
.left-column h2 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-left: 0.1rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
.left-column sub {
    margin-left: 0.1rem;
    margin-bottom: 1rem;
}
.right-column h2 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-left: 0.1rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
.left-column div {
    /* width: 350px; */
    height: 60px;
    background-color: white;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-left: 80px;
}
.right-column div {
    /* width: 350px; */
    height: 60px;
    background-color: white;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-left: 80px;
}
.project-container {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    background-color: #ececec;
    font-family: sans-serif;
}
.other {
    color: black;
}
.italic-words {
    font-size: 10px;
    font-weight: 5%;
    position: relative;
    bottom: 15px;
}
.image {
    width: 10%;
}
.column-title {
}
.box {
    background-image: url(https://pypi.org/static/images/white-cube.8c3a6fe9.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 1rem 0.3rem;
    border: 2.1px solid lightgray;
}
